@{
    Layout = "Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>

<section id="hero" style="background-image: url('../../Content/img.png');">
    <div class="container">
        <h1>We're sorry</h1>
        <p>We allow only one vote per session, and it appears you already voted on that one. </p>
    </div>
</section>
            
</html>