@using System.Collections.Generic
@using Nancy.Responses.Negotiation
@using Nancy.ViewEngines.Razor
@using BuildStuffFeedback.Models
@inherits NancyRazorViewBase<IEnumerable<Session>>
@{
    Layout = "Shared/_Layout.cshtml";
}

<script>
    

</script>
<!DOCTYPE HTML>
        <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
            <head>
                <meta charset="utf-8" />
                <title></title>
                
                <style>
                    body {
                        font-family: sans-serif;
                        font-weight: normal;
                        margin: 10px;
                        color: #999;
                        background-color: #eee;
                    }

                    .list-of-sessions {
                        list-style:none;
                    }

                        .list-of-sessions a {
                            color:#333;
                            font-weight:bolder;
                        }
                   

                </style>
            </head>

        <section id="hero">
            <div class="container">
                <h1>Build Stuff 2014</h1>
                <p>Software Development conference</p>
                <ul class="list-of-sessions">
                    @foreach (var item in @Model)
                    {
                        <li><a href="/sessions/@item.Id">@item.Title</a></li>
                    }
                </ul>
            </div>
        </section>
            
    </html>
